.home {background-color: black;
  background-color: #16191b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.home a {color: rgb(255, 255, 255);
        text-decoration: none;

}

p {color: rgb(194, 82, 82);
  font-size:200%;
  font-weight: bolder;

}

body {background-image: url(js.png);
      background-size:550px
     
      

}