.home {background-color: black;
  background-color: #16191b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.home a {color: rgb(255, 255, 255);
        text-decoration: none;

}

p {color: rgb(113, 2, 138);
  font-size:200%;
  font-weight: bolder;

}

body {background-image: url(js.png);
      background-size:550px
     
      

}

.generate {background-color: rgb(181, 10, 10);
  background-color: #0a68a6;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 16px;
  
  
}

  
.generate:hover {color:#0a68a6;
                background-color: rgb(255, 255, 255);


}