
#mySidenav a {
  position: absolute; 
  left: -75px; 
  transition: 0.3s; 
  padding: 15px; 
  width: 140px; 
  text-decoration: none; 
  font-size: 15px; 
  color: white; 
  border-radius: 0 7px 7px 0; 
  
}

#mySidenav a:hover {
  left: 0; 
}


#about {
  top: 20px;
  background-color: #811c9a;
}

#blog {
  top: 70px;
  background-color: #0000fe; 
  
}

#projects {
  top: 140px;
  background-color: #fe0000; 
}

#contact {
  top: 203px;
  background-color: #555 
}

body {
  background-image: url("wp2037086.jpg");
}

#jumping {
          padding: 3px; 
          width: 370px; 
          height: 318px;
}


#jumping:hover {
                border: 2px solid; color: #0000fe;
}

#jumpingman {position: absolute;
             left: 265px;
             top: -2px;
}

#mandala { 
          width: 305px;
          height: 270px;
}

#mandaladiv { position: absolute;
              left: 978px;
              top: 334px;


}

#mandala:hover { border: 2px solid; color: #ffff01;

}

#smokingwoman {width: 305px; 
              height: 265px;}


#smoking {
          position:absolute;
          left: 650px;
          top: 0px;
}

#smoking:hover {border: 2px solid; color: #fe0000;

}

#insta { width: 25px;
        height: 25px;

}