#mySidenav a {
  position: absolute; 
  left: -90px; 
  transition: 0.3s; 
  padding: 15px; 
  width: 110px; 
  text-decoration: none; 
  font-size: 20px; 
  color: white; 
  border-radius: 0 7px 7px 0; 
  
}

#mySidenav a:hover {
  left: 0; 
}

#about {
  top: 20px;
  background-color: #811c9a;
}

#tek {
  position: relative;
  left: 270px;
}

#tek2 {
  position: relative;
  left: 270px;
}


#tekst { border:solid;
        border-color: rgb(20, 20, 135);
        border-radius: 7px;
        background-color: rgb(20, 20, 135) ;
        position:absolute;
        left: 60px;
        top: 78px;
        color: aliceblue;
        padding: 0px 10px 0px 10px;

}

        body {
  background-color: rgb(93,11,11);
}

#projects {
  top: 176px;
  background-color: #fe0000; 
}

#insta { width: 25px;
  height: 25px;

}